<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        Albert Movies
    </ion-title>

    <ion-searchbar value="Encuentra una película"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Albert Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>


<ion-list>
    <ion-item  *ngFor="let place of ListaPeliculas" [routerLink]="['/detalles-pelicula/',place.titulo]">
      <ion-thumbnail slot="start">
      <ion-img [src]="place.imageUrl"></ion-img>
      </ion-thumbnail>

          <ion-label>
            {{place.titulo}}
          </ion-label>

          <ion-label>
            {{place.comentarios}}
          </ion-label>
      </ion-item>

  </ion-list>







</ion-content>
